<div class="row">

    <div id="sidebar" class="col-md-3">

        <div id="options">
            <h4>Posibles opciones</h4>

            <div class="form-group">
                <label for="optionSelector">Elige una combinación de grupos para mostrar su horario</label>
                <select class="form-control" id="optionSelector">
                    <option value="" selected disabled hidden>Selecciona grupos</option>

                    <% if (horarios) { %>
                    <optgroup label="Sin solapamientos">
                        <% horarios.forEach((horario) => { %>
                        <% if (!horario.haySolapamiento) { %>
                        <option value="<%= horario.id %>">
                            <%= horario.grupos.reduce((acc, ele, index) => { 
                                        if (index === 0) {
                                            return acc += ele;
                                        } else {
                                            return acc += `, ${ele}`;
                                        }
                                    }, '') %>
                        </option>
                        <% } %>
                        <% }); %>
                    </optgroup>

                    <optgroup label="Con solapamientos">
                        <% horarios.forEach((horario) => { %>
                        <% if (horario.haySolapamiento) { %>
                        <option value="<%= horario.id %>">
                            <%= horario.grupos.reduce((acc, ele, index) => { 
                                            if (index === 0) {
                                                return acc += ele;
                                            } else {
                                                return acc += `, ${ele}`;
                                            }
                                        }, '') %>
                        </option>
                        <% } %>
                        <% }); %>
                    </optgroup>

                    <% } %>
                </select>
            </div>

        </div>

        <div id="selection">
            <h4>Selección</h4>
            <ul>
                <li>
                    1er semestre: opción 1
                    <ul>
                        <li>2º:22.1, 3º: 32.1</li>
                    </ul>
                </li>
                <li>2º semestre:</li>
            </ul>
        </div>

    </div>

    <div id="content" class="col-md-9">
        <% if (horarios) { %>
        <% horarios.forEach((horario) => { %>
        <div class="horarioPosible" id="horario<%= horario.id %>">
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Hora</th>
                        <th scope="col">Lunes</th>
                        <th scope="col">Martes</th>
                        <th scope="col">Miércoles</th>
                        <th scope="col">Jueves</th>
                        <th scope="col">Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">8-9</th>
                        <td><%= horario.tabla.L['08'] %></td>
                        <td><%= horario.tabla.M['08'] %></td>
                        <td><%= horario.tabla.X['08'] %></td>
                        <td><%= horario.tabla.J['08'] %></td>
                        <td><%= horario.tabla.V['08'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">9-10</th>
                        <td><%= horario.tabla.L['09'] %></td>
                        <td><%= horario.tabla.M['09'] %></td>
                        <td><%= horario.tabla.X['09'] %></td>
                        <td><%= horario.tabla.J['09'] %></td>
                        <td><%= horario.tabla.V['09'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">10-11</th>
                        <td><%= horario.tabla.L['10'] %></td>
                        <td><%= horario.tabla.M['10'] %></td>
                        <td><%= horario.tabla.X['10'] %></td>
                        <td><%= horario.tabla.J['10'] %></td>
                        <td><%= horario.tabla.V['10'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">11-12</th>
                        <td><%= horario.tabla.L['11'] %></td>
                        <td><%= horario.tabla.M['11'] %></td>
                        <td><%= horario.tabla.X['11'] %></td>
                        <td><%= horario.tabla.J['11'] %></td>
                        <td><%= horario.tabla.V['11'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">12-13</th>
                        <td><%= horario.tabla.L['12'] %></td>
                        <td><%= horario.tabla.M['12'] %></td>
                        <td><%= horario.tabla.X['12'] %></td>
                        <td><%= horario.tabla.J['12'] %></td>
                        <td><%= horario.tabla.V['12'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">13-14</th>
                        <td><%= horario.tabla.L['13'] %></td>
                        <td><%= horario.tabla.M['13'] %></td>
                        <td><%= horario.tabla.X['13'] %></td>
                        <td><%= horario.tabla.J['13'] %></td>
                        <td><%= horario.tabla.V['13'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">14-15</th>
                        <td><%= horario.tabla.L['14'] %></td>
                        <td><%= horario.tabla.M['14'] %></td>
                        <td><%= horario.tabla.X['14'] %></td>
                        <td><%= horario.tabla.J['14'] %></td>
                        <td><%= horario.tabla.V['14'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">15-16</th>
                        <td><%= horario.tabla.L['15'] %></td>
                        <td><%= horario.tabla.M['15'] %></td>
                        <td><%= horario.tabla.X['15'] %></td>
                        <td><%= horario.tabla.J['15'] %></td>
                        <td><%= horario.tabla.V['15'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">16-17</th>
                        <td><%= horario.tabla.L['16'] %></td>
                        <td><%= horario.tabla.M['16'] %></td>
                        <td><%= horario.tabla.X['16'] %></td>
                        <td><%= horario.tabla.J['16'] %></td>
                        <td><%= horario.tabla.V['16'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">17-18</th>
                        <td><%= horario.tabla.L['17'] %></td>
                        <td><%= horario.tabla.M['17'] %></td>
                        <td><%= horario.tabla.X['17'] %></td>
                        <td><%= horario.tabla.J['17'] %></td>
                        <td><%= horario.tabla.V['17'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">18-19</th>
                        <td><%= horario.tabla.L['18'] %></td>
                        <td><%= horario.tabla.M['18'] %></td>
                        <td><%= horario.tabla.X['18'] %></td>
                        <td><%= horario.tabla.J['18'] %></td>
                        <td><%= horario.tabla.V['18'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">19-20</th>
                        <td><%= horario.tabla.L['19'] %></td>
                        <td><%= horario.tabla.M['19'] %></td>
                        <td><%= horario.tabla.X['19'] %></td>
                        <td><%= horario.tabla.J['19'] %></td>
                        <td><%= horario.tabla.V['19'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">20-21</th>
                        <td><%= horario.tabla.L['20'] %></td>
                        <td><%= horario.tabla.M['20'] %></td>
                        <td><%= horario.tabla.X['20'] %></td>
                        <td><%= horario.tabla.J['20'] %></td>
                        <td><%= horario.tabla.V['20'] %></td>
                    </tr>
                </tbody>
            </table>

            <div id="observaciones">
                <h4>Observaciones</h4>
                <% Object.keys(horario.notas).forEach((nomAsig) => { 
                const notasAsig = horario.notas[nomAsig]; %>
                <h6><%= nomAsig %></h6>
                <ul>
                    <% notasAsig.forEach((nota) => { %>
                    <li><%= nota %></li>

                    <%  });%>
                </ul>
                <%  }); %>
            </div>

            <div id="botones">
                <a class="btn btn-secondary" href="/planificador" role="button">Atrás</a>
                <form id="guardarHorarioForm" class="d-inline" method="POST" action="/guardarHorario">
                    <input type="hidden" name="ano" value="<%= ano %>">
                    <input type="hidden" name="semestre" value="<%= semestre %>">
                    <input type="hidden" name="plan" value="<%= plan %>">
                    <input type="hidden" name="asignaturas" value="<%= asignaturas %>">
                    <input type="hidden" name="cursos" value="<%= JSON.stringify(horario.cursos) %>">
                    <input type="hidden" name="grupos" value="<%= JSON.stringify(horario.grupos) %>">
                    <button class="btn btn-primary" type="submit">Guardar horario</button>
                </form>
            </div>

        </div>
        <% }); %>
        <% } %>

    </div>

</div>