<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='<%= contextPath %>/stylesheets/style.css' />

    <!-- Custom CSS -->
    <script src="https://portal.etsit.upm.es/estudiantes/static-button"></script>

    <style>
        .open-6659b527b8d152af596e174303b316a7 {
            position: fixed !important;
        }
    </style>

    <title>HorarioApp</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" href="<%= contextPath %>/">HorarioApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navTop"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navTop" class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= contextPath %>/curso_actual/horario">Curso actual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= contextPath %>/planificador">Planificador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= contextPath %>/horarios_guardados">Horarios guardados</a>
                    </li>
                </ul>
                <br>
                <div id="buttonMenuPortales123" style="position:fixed; z-index:4; text-align: right"></div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <%- body %>
        </div>
    </main>
    <footer>
        <div class="container">
            <span class="text-muted">&copy; 2019 Universidad Politécnica de Madrid</span>
        </div>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            let contextPath = '<%-contextPath%>';
            dibujarmenulateral("buttonMenuPortales123", contextPath + "/logout", '<%=session.user.mail%>', '<%=session.user.cn%>');
        });
    </script>
    <% if (Array.isArray(scripts) && scripts.length) { %>
    <% scripts.forEach(script => { %>
    <script src="<%= contextPath %>/js/<%= script %>.js"></script>
    <% }); %>
    <% } %>

</body>

</html>