<div class="row">

    <div id="sidebar" class="col-md-3">

        <div id="saved_list">
            <h4>Horarios guardados</h4>
            <div class="form-group">
                <label for="horarioSelector">Elige un horario para mostrar</label>
                <select class="form-control" id="horarioSelector">
                    <option value="" selected disabled hidden>Selecciona horario</option>

                    <% if (horarios) { %>
                    <% horarios.forEach((horario) => { %>
                    <option value="<%= horario.id %>">
                        <%= horario.grupos.reduce((acc, ele, index) => { 
                                            if (index === 0) {
                                                return acc += ele;
                                            } else {
                                                return acc += `, ${ele}`;
                                            }
                                        }, '') %>
                    </option>
                    <% }); %>
                    <% } else { %>
                    <option value="" disabled>Vacío</option>
                    <% } %>
                </select>
            </div>
        </div>


        <% if (horarios) { %>
        <% horarios.forEach((horario) => { %>

        <% let dtlSemestre = horario.semestre;
            if (dtlSemestre === '1S') {
                dtlSemestre = '1º';
            } else if(dtlSemestre === '2S') {
                dtlSemestre = '2º';
            } %>

        <% dtlGrupos = horario.grupos.reduce((acc, grupo) => `${acc}, ${grupo}`); %>

        <% const dtlAno = horario.ano.substring(0, 4) + '-' + horario.ano.substring(4); %>

        <div class="details" id="details<%= horario.id %>">
            <h4>Detalles</h4>
            <ul>
                <li>Año: <%= dtlAno %></li>
                <li>Semestre: <%= dtlSemestre %></li>
                <li>Grupos: <span id="dtl-grupos"><%= dtlGrupos %></span></li>
                <li>
                    Asignaturas: <span id="dtl-nAsig"></span><br>
                    <span id="dtl-listaAsig"> <%= horario.listaAcronimos %></span>
                </li>
                <li>Total créditos ECTS: <span id="dtl-creditos"> <%= horario.creditos %> </span></li>
            </ul>
        </div>
        <% }); %>
        <% } %>

    </div>

    <div id="content" class="col-md-9">

        <% if (locals.msg) { 
            const alertType = saved ? 'alert-success' : 'alert-danger';
        %>
        <div id="msg" class="alert <%= alertType %>" role="alert">
            <%= msg %>
        </div>
        <% } %>

        <% if (horarios) { %>
        <% horarios.forEach((horario) => { %>
        <div class="horarioGuardado" id="horario<%= horario.id %>">
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Hora</th>
                        <th scope="col">Lunes</th>
                        <th scope="col">Martes</th>
                        <th scope="col">Miércoles</th>
                        <th scope="col">Jueves</th>
                        <th scope="col">Viernes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">8-9</th>
                        <td><%= horario.tabla.L['08'] %></td>
                        <td><%= horario.tabla.M['08'] %></td>
                        <td><%= horario.tabla.X['08'] %></td>
                        <td><%= horario.tabla.J['08'] %></td>
                        <td><%= horario.tabla.V['08'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">9-10</th>
                        <td><%= horario.tabla.L['09'] %></td>
                        <td><%= horario.tabla.M['09'] %></td>
                        <td><%= horario.tabla.X['09'] %></td>
                        <td><%= horario.tabla.J['09'] %></td>
                        <td><%= horario.tabla.V['09'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">10-11</th>
                        <td><%= horario.tabla.L['10'] %></td>
                        <td><%= horario.tabla.M['10'] %></td>
                        <td><%= horario.tabla.X['10'] %></td>
                        <td><%= horario.tabla.J['10'] %></td>
                        <td><%= horario.tabla.V['10'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">11-12</th>
                        <td><%= horario.tabla.L['11'] %></td>
                        <td><%= horario.tabla.M['11'] %></td>
                        <td><%= horario.tabla.X['11'] %></td>
                        <td><%= horario.tabla.J['11'] %></td>
                        <td><%= horario.tabla.V['11'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">12-13</th>
                        <td><%= horario.tabla.L['12'] %></td>
                        <td><%= horario.tabla.M['12'] %></td>
                        <td><%= horario.tabla.X['12'] %></td>
                        <td><%= horario.tabla.J['12'] %></td>
                        <td><%= horario.tabla.V['12'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">13-14</th>
                        <td><%= horario.tabla.L['13'] %></td>
                        <td><%= horario.tabla.M['13'] %></td>
                        <td><%= horario.tabla.X['13'] %></td>
                        <td><%= horario.tabla.J['13'] %></td>
                        <td><%= horario.tabla.V['13'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">14-15</th>
                        <td><%= horario.tabla.L['14'] %></td>
                        <td><%= horario.tabla.M['14'] %></td>
                        <td><%= horario.tabla.X['14'] %></td>
                        <td><%= horario.tabla.J['14'] %></td>
                        <td><%= horario.tabla.V['14'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">15-16</th>
                        <td><%= horario.tabla.L['15'] %></td>
                        <td><%= horario.tabla.M['15'] %></td>
                        <td><%= horario.tabla.X['15'] %></td>
                        <td><%= horario.tabla.J['15'] %></td>
                        <td><%= horario.tabla.V['15'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">16-17</th>
                        <td><%= horario.tabla.L['16'] %></td>
                        <td><%= horario.tabla.M['16'] %></td>
                        <td><%= horario.tabla.X['16'] %></td>
                        <td><%= horario.tabla.J['16'] %></td>
                        <td><%= horario.tabla.V['16'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">17-18</th>
                        <td><%= horario.tabla.L['17'] %></td>
                        <td><%= horario.tabla.M['17'] %></td>
                        <td><%= horario.tabla.X['17'] %></td>
                        <td><%= horario.tabla.J['17'] %></td>
                        <td><%= horario.tabla.V['17'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">18-19</th>
                        <td><%= horario.tabla.L['18'] %></td>
                        <td><%= horario.tabla.M['18'] %></td>
                        <td><%= horario.tabla.X['18'] %></td>
                        <td><%= horario.tabla.J['18'] %></td>
                        <td><%= horario.tabla.V['18'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">19-20</th>
                        <td><%= horario.tabla.L['19'] %></td>
                        <td><%= horario.tabla.M['19'] %></td>
                        <td><%= horario.tabla.X['19'] %></td>
                        <td><%= horario.tabla.J['19'] %></td>
                        <td><%= horario.tabla.V['19'] %></td>
                    </tr>
                    <tr>
                        <th scope="row">20-21</th>
                        <td><%= horario.tabla.L['20'] %></td>
                        <td><%= horario.tabla.M['20'] %></td>
                        <td><%= horario.tabla.X['20'] %></td>
                        <td><%= horario.tabla.J['20'] %></td>
                        <td><%= horario.tabla.V['20'] %></td>
                    </tr>
                </tbody>
            </table>

            <div id="observaciones">
                <h4>Observaciones</h4>
                <% Object.keys(horario.notas).forEach((nomAsig) => { 
                    const notasAsig = horario.notas[nomAsig]; %>
                <h6><%= nomAsig %></h6>
                <ul>
                    <% notasAsig.forEach((nota) => { %>
                    <li><%= nota %></li>

                    <%  });%>
                </ul>
                <%  }); %>
            </div>

            <div id="botones">
                <form id="borrarHorarioForm" class="d-inline" method="POST" action="<%= contextPath %>/borrarHorario">
                    <input type="hidden" name="id" value="<%= horario.id %>">
                    <button class="btn btn-danger" type="submit">Borrar horario</button>
                </form>
                <form id="examenesForm" class="d-inline" method="POST"
                    action="<%= contextPath %>/horarios_guardados/examenes">
                    <input type="hidden" name="ano" value="<%= horario.ano %>">
                    <input type="hidden" name="semestre" value="<%= horario.semestre %>">
                    <input type="hidden" name="plan" value="<%= horario.plan %>">
                    <input type="hidden" name="asignaturas" value="<%= JSON.stringify(horario.asignaturas) %>">
                    <button class="btn btn-primary" type="submit">Ver exámenes</button>
                </form>
            </div>

        </div>
        <% }); %>
        <% } %>



    </div>

</div>